<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Sidebar Fragment</title>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div th:fragment="loginsidebar" id="sidebar">
        <div class="sidebar-content">
            <p th:utext="#{screen.welcome.security}">For security reasons, please <a href="logout">log out</a> and exit
                your web browser when you are done accessing \
                services that require authentication!</p>
        </div>
    </div>
</main>
</body>
</html>
