<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{cas.acceptableusagepolicyview.pagetitle}"></title>
</head>
<body id="cas">
    <div layout:fragment="content">
    <h2>
        <div id="logo"></div>
    </h2>
        <form method="post" id="fm1">
            <div class="card-header text-center">
                <h3 th:text="#{screen.aup.heading}">Acceptable Usage Policy</h3>
            </div>
            <div class="card-body">
                <div>
                    <p>
                        The purpose of this policy is to establish acceptable and unacceptable use of electronic devices and
                        network resources in conjunction with the established culture of ethical and lawful behavior, openness,
                        trust, and integrity.
                    </p>
                    <div>
                        <p>By using these resources, you agree to abide by the Acceptable Usage Policy.</p>
                    </div>
                </div>
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="submit"/>
                <input class="btn btn-success" name="submit" accesskey="s" th:value="#{screen.aup.button.accept}" value="ACCEPT" type="submit"/>
                <span style="width: 3px"></span>
                <input class="btn btn-warning" name="cancel" accesskey="c" th:value="#{screen.aup.button.cancel}" value="CANCEL" type="button" onclick="location.href = location.href;"/>
            </div>
        </form>
    </div>
</body>
</html>
