<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.authnblocked.heading}">Authentication Blocked View</title>
</head>
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content">
        <h2>
            <div id="logo"></div>
        </h2>
            <div id="msg" class="alert alert-danger">
                <h3 th:utext="#{screen.authnblocked.heading}">Authentication attempt is blocked.</h3>
                <p th:utext="#{screen.authnblocked.message}">Your authentication attempt is untrusted and unauthorized from your current workstation.</p>
            </div>
        </div>
</div>
</body>
</html>
