<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.badworkstation.heading}">Bad Workstation View</title>
</head>
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content">

        <div th:replace="fragments/header"></div>

        <div id="msg" class="alert alert-danger">
            <h3 th:utext="#{screen.badworkstation.heading}">You cannot login from this workstation.</h3>
            <p th:utext="#{screen.badworkstation.message}">Please contact the system administrator to regain access.</p>
        </div>
    </div>
</div>
</body>
</html>
