<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Confirmation</title>
</head>
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content" class="confirmView">

        <div th:replace="fragments/header"></div>

        <div id="msg" class="alert alert-info msg-padding">
            <p th:text="#{screen.confirmation.message(${service.id})}">If you click continue, you will be logged into the following application:<br>
              <br>
                {0}
            </p>
            <form method="post" id="form" class="fm-v clearfix">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <div class="form-group">
                    <div class="form-check">
                        <input id="ignorewarn" class="form-check-input" name="ignorewarn" value="true" tabindex="1" type="checkbox"/>
                        <label for="ignorewarn" class="form-check-label" th:utext="#{screen.welcome.label.warnremove}">Do not warn me again</label>
                    </div>
                </div>
                <br>
                <input class="btn btn-submit" name="_eventId_success" accesskey="l" th:value="#{screen.button.continue}" tabindex="4" type="submit" value="Continue"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
