<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.consent.title}">Consent View</title>
    <link rel="stylesheet" th:href="@{#{webjars.bootstrap-selectmin.css}}">
    <script th:src="@{#{webjars.bootstrap-selectmin.js}}"></script>
    <script th:src="@{#{webjars.bootstrapmin.js}}"></script>
    <link rel="stylesheet" th:href="@{#{webjars.datatables.bootstrapmin.css}}"/>
    <script th:src="@{#{webjars.datatables.jquery.datatablesmin.js}}"></script>
    <script th:src="@{#{webjars.datatables.datatables.bootstrapmin.js}}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var data = {
            attributes: /*[[${attributes}]]*/
        };
        var strings = {
            info: /*[[#{screen.consent.attributes.data.info}]]*/
        };
        /*]]>*/
    </script>
    <script type="text/javascript" th:inline="javascript">
        function jqueryReady() {
            head.load(
                /*[[@{/js/consent.js}]]*/
            );
        }
    </script>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">

        <div th:replace="fragments/consentForm"></div>

    </div>
</main>
</body>
</html>
