<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.service.error.header}">Delegated Authentication Error View</title>
</head>
<body>
    <div layout:fragment="content" class="confirmView">

        <div th:replace="fragments/header"></div>

        <div id="msg" class="alert alert-danger">
            <h3 th:utext="#{screen.delauthn.error.header}">Delegated Authentication Failure</h3>
            <p th:utext="#{screen.delauthn.error.message}">Single Sign-On is unable to complete the delegated authentication scenario,
                or redirect to the selected identity provider. Please examine the original authentication request and try again.
                You may need to close your browser and start again.
            </p>
        </div>
    </div>
</body>
</html>
