<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.expiredpass.heading}">Single Sign-On Expired Password View</title>
    <script type="text/javascript" th:src="@{#{webjars.zxcvbn.js}}"></script>
</head>
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content">

        <div th:replace="fragments/header"></div>

        <div th:replace="fragments/pwdUpdateForm"><a href="fragments/pwdUpdateForm.html">pwdUpdateForm</a></div>

    </div>
</div>
</body>
</html>
