<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.success.header}"></title>
</head>
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content">
        <h2>
            <div id="logo"></div>
        </h2>
        <div id="msg" class="alert alert-success">
            <h3 th:utext="#{screen.success.header}">Log In Successful</h3>
            <p>You have successfully logged into the Single Sign-On Service.</p>
            <p th:utext="#{screen.success.security}">When you are finished, for security reasons, please <a href="logout">log out</a> and exit your web browser.</p>
        </div>
    </div>
</div>
</body>
</html>
