<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content">

        <div th:replace="fragments/header"></div>

        <div id="msg" class="alert alert-success">
            <h3 th:utext="#{screen.success.header}">Login Successful</h3>
            <p th:utext="#{screen.success.success(${principal.id})}">You, <strong>{0}</strong>, have successfully logged into the Single Sign-On Service.</p>
            <p th:utext="#{screen.success.security}">When you are finished, for security reasons, please <a href="logout">logout</a> and exit your web browser.</p>
        </div>
    </div>
</div>
</body>
</html>
