<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.logout.header}">Single Sign-On Logout</title>
</head>
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content">

        <div th:replace="fragments/header"></div>

        <div id="msg" class="alert alert-success">
            <h3 th:utext="#{screen.logout.header}">Logout successful</h3>
            <p th:utext="#{screen.logout.success}">You have successfully logged out of the Single Sign-On Service. You may <a href="login">login</a> again.</p>
            <p th:utext="#{screen.logout.security}">For security reasons, exit your web browser.</p>
        </div>

    </div>
</div>
</body>
</html>
