<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.mfaDenied.heading}">MFA Denied View</title>
</head>
<body>
<div id="main" class="content" role="main">
    <div layout:fragment="content">

        <div th:replace="fragments/header"></div>

        <div id="msg" class="alert alert-danger">
            <h3 th:utext="#{screen.mfaDenied.heading}">MFA attempt is denied.</h3>
            <p th:utext="#{screen.mfaDenied.message}">Your MFA provider has denied your attempt at second factor authentication. Contact your system administrator for help in restoring your account.</p>
        </div>
    </div>
</div>
</body>
</html>
