<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.mustchangepass.heading}">You must change your password View</title>
    <script type="text/javascript" th:src="@{#{webjars.zxcvbn.js}}"></script>
    <script type="text/javascript" th:src="@{/js/passwordMeter.js}"></script>
</head>
<body>
    <div id="main" class="content" role="main">
        <div layout:fragment="content">
        <h2>
            <div id="logo"></div>
        </h2>
            <!-- <div th:replace="fragments/pwdupdateform"><a href="fragments/pwdupdateform.html">pwdupdateform</a></div> -->
            <div id="msg" class="alert alert-warning">
                <div th:replace="fragments/pwdupdateform">
                    <a href="fragments/pwdupdateform.html">pwdupdateform</a>
                </div>
                <!--
                <h3 th:utext="${expiredPass} ? #{screen.expiredpass.heading} : #{screen.mustchangepass.heading}">Change Password Heading</h3>
                <p th:unless="${passwordManagementEnabled}" th:utext="${expiredPass} ? #{screen.expiredpass.message} : #{screen.mustchangepass.message}">Expired/Must Change Password text</p>
                -->
            </div>
        </div>
    </div>
</body>
</html>
