<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Wsfederation Webflow Stopped</title>
</head>
<body>
<div layout:fragment="content">
    <h2>
        <div id="logo"></div>
    </h2>
    <div id="msg" class="alert alert-danger">
        <h3>Webflow Stopped</h3>
        <p>Either the authentication request was rejected/cancelled, or the authentication provider denied access due to permissions, etc.
            Review logs to find the root cause of the issue.</p>
    </div>
</div>
</body>
<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-danger">
            Either the authentication request was rejected/cancelled, or
            the authentication provider denied access due to permissions, etc. Review logs to find the root cause of
            the issue.
        </div>
    </div>
</main>
</body>
</html>
