<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{cas.mfa.yubikey.pagetitle}">YubiKey Login View</title>
</head>
<body id="cas" class="login">
<div layout:fragment="content" id="login">
    <h2>
        <div id="logo"></div>
    </h2>
        <form method="post" id="yubiKeyForm" th:object="${credential}" th:action="@{/login}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err + ' '}">Error message</span>
            </div>
            <fieldset id="inputarea">
                <div id="signin" class="row">
                    <h1>Sign In</h1>
                </div>
                <div id="fields">
                    <div class="row">
                        <div class="alert alert-info" th:text="#{cas.mfa.yubikey.authenticate}">
                            Use your registered YubiKey device to authenticate.
                        </div>
                    </div>
                    <div class="row">
                        <label for="token" th:utext="#{screen.welcome.label.password}" />
                        <div>
                            <input type="password" class="form-control required" required id="token" size="25" tabindex="1" th:field="*{token}" th:accesskey="#{screen.welcome.label.password.accesskey}" autocomplete="off"/>
                        </div>
                    </div>
                    <input class="btn btn-submit" accesskey="l"
                           th:value="#{screen.welcome.button.login}" tabindex="2" type="submit"/>
                    <input type="hidden" name="_eventId_submit" value="Login"/>
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                    <input type="hidden" name="geolocation"/>
                </div>
            </fieldset>
        </form>
        <div id="recovery">
            <div class="row">
                <p>Don't lose access to your account!<br><a href="https://idm.bshp.edu/pwm">Update your recovery options</a></p>
            </div>
        </div>
        <div id="notice" class="content">
            <div id="notice-icon"></div>
            <p>
                <strong>Notice:</strong>
                This service and the services to which it provides access are for authorized use only.
                Any attempt to gain unauthorized access, or exceed authorized access will be pursued, as applicable, under campus codes and state or federal law.
            </p>
            <p>For security reasons, please Log Out and Exit your web browser when you are done!</p>
        </div>
        <div id="powered-by" class="powered-by">
            <div id="copyright">
                <p>Central Authentication Service</p>
            </div>
        </div>
    </div>
</body>
</html>
