<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{screen.unavailable.header}">Single Sign-On Error</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function showErrorDetails() {
            $("#errorMsg").hide();
            $("#errorDetails").empty();
            $("#errorDetails").append("<p><pre style='white-space: pre-wrap;'>" + /*[[${#strings.escapeXml(trace)}]]*/ +"</pre></p>");
        }
        /*]]>*/
    </script>
</head>
<body>
    <div layout:fragment="content">

        <div th:replace="fragments/header"></div>

        <div id="msg" class="alert alert-danger">
            <h3 th:utext="#{screen.unavailable.heading(${status},${error})}">Single Sign-On was unable to process this request: "{0}:{1}"</h3>
            <div th:utext="#{screen.unavailable.message}">screen.unavailable.message would go here</div>
            <pre id="errorMsg" class="mt-4" style="white-space: pre-wrap;" th:text="${'Error: ' + message}">error message would go here</pre>
            <p id="errorDetails">
                <button type="button" class="btn btn-shutdown" onclick="showErrorDetails();">View Details</button>
            </p>
        </div>

    </div>
</body>
</html>
