<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Single Sign On</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="node:id" th:attr="content=#{cas.router.node.id}"/>
    <meta name="node:name" th:attr="content=#{cas.router.node.name}"/>
    <meta name="node:env" th:attr="content=#{cas.router.node.env}"/>
    <meta name="node:locale" th:attr="content=#{cas.router.node.locale}"/>
    <link rel="stylesheet" href="/cas/css/mobile.min.css" media="all and (min-width: 1px) and (max-width: 550px)"/>
    <link rel="stylesheet" href="/cas/css/bshp.min.css" media="all and (min-width: 550px)"/>
    <link rel="stylesheet" href="/cas/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/cas/css/font-ubuntu.min.css" />
    <link rel="icon" href="/cas/favicon.ico" type="image/x-icon"/>
    <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
</head>
<body>

<div layout:fragment="content" id="main">
    <h1></h1>
    <p></p>
</div>

<script th:replace="fragments/layoutScripts"></script>

</body>
</html>
